@CHARSET "UTF-8";
.font6{font-family:"微软雅黑";font-size:6px;color:#454545}
.font30{font-family:"微软雅黑";font-size:30px;color:#4dabca}
.block { padding: 0px;}
.top { margin-top: 5px; }
.bottom { margin-bottom: 5px; }